.site-home-image {
    background-image:
    linear-gradient(0deg, rgba(167,172,169,0.22592787114845936) 0%, rgba(119,119,119,0.21192226890756305) 100%),
    // linear-gradient(0deg, rgba(167,172,169,0.4164040616246498) 0%, rgba(119,119,119,0.396796218487395) 100%),
    url('https://images.unsplash.com/photo-1516924962500-2b4b3b99ea02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80');
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    min-height: 100vh;
    color: $homepage-color;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .homepage-content {
        border: 1px solid #FF7D00;
        border-radius: 10px;
        padding: 1em;
        background-color: rgba(0, 0, 0, 0.3);

        margin-bottom: 20em;
        ul {
            list-style: none;
            font-size: 1.5em;
        }

        li a {
            text-decoration: none;
            color: $homepage-color;
        }
    }

    .site-title {
        margin-top:  7em;
        h1 {
            font-size: 3.3em;
        }
    }

    @include bp (tablet) {
        background-position: center;
        background-attachment: fixed;
        height:100%;
        width:100%;
    }

}