.site-nav {
    display: flex;
    background-color: cadetblue;
    justify-content: space-between;
    padding: 1.5em 2em;

    & a {
        color: #fff;
        text-decoration: none;
    }

    .site-menu {
        ul {
            list-style: none;
            li {
                display: inline-block;
                font-size: 1.1em;
                margin-top: 0.2em;
                margin:0 1em;
                color: #fff;

                &:hover {
                    border-bottom: 2px solid chocolate;
                }
            }
        }

        @include bp(mobile) {
            display: none;
        }
    }

    .mobile-menu {
        display: none;


        @include bp(mobile) {
            display: block;
            background-color: red;
            & a:hover .site-menu ul {
                display: block;
                background-color: green;
            }
        }
    }

}

